/* src/AdminDashboard.css */
.admin-dashboard {
    padding: 20px;
    background-color: hwb(209 81% 3%);
    color: #000000;
    min-height: 100vh;
  }
  
  .filters {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filters label {
    font-weight: bold;
  }
  
  .filters select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .admin-table th {
    background-color: #007bff;
    color: white;
    text-align: left;
  }
  
  .admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .admin-table tr:hover {
    background-color: #ddd;
  }
  